html[data-theme='dark'] {
    --stats-bg-color       : #252525FF;
    --button-bg-img        : none;
    --entete-bg-img        : url(../img/MapAndCompass3.png) no-repeat;
    --html-bg-img          : url(../img/topography02dark1.jpg);
    --primary-bg-img       : none;
    --map-bg-img-option    : url(../img/desert3.jpg);
    --gold-border-color    : #ffd700;
    --primary-border-color : #DDDDDDFF;
    --menu-button-bg-img   : none;
    --alert-color          : #FF6347FF;
    --background-color     : #00000000;
    --error-color          : #ff0000FF;
    --myLine-color         : #2300B44C;
    --primary-color        : #1d2536FF;
    --secondary-color      : #3A4161FF;
    --shadow-color         : none;
    --special-color        : #333469FF;
    --success-color        : #00f300FF;
    --tertiary-color       : #333469FF;
    --hover-font-color     : #FFFFFFFF;
    --primary-font-color   : #DDDDDDFF;
    --tertiary-font-color  : #1d2536FF;
    --primary-font-family  : Arial, Verdana, Helvetica;
    --title-font-family    : edo_szregular;
    --primary-row-color    : #2b3650FF;
    --secondary-row-color  : #3A4161FF;
    --radius-value         : 0px;
    --desktop-width        : 1300px;
}